* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

body {
  font-size: 16px;
}

header,
main,
footer {
  max-width: 640px;
  margin: 0 auto;
}

header {
  background: lightblue;
}

picture {
  display: flex;
  justify-content: center;
}

main {
  border: 6px solid #667;
  background: whitesmoke;
}

footer {
  background: lemonchiffon;
  text-align: center;
}

img {
  /* float: right; */
  box-shadow: 2px 2px 6px dimgrey;
  border: 6px solid white;
  padding: 0px;
  margin: 1rem 2rem;
}

h1 {
  text-align: center;
}

li {
  display: block;
  font-size: 1.2rem;
}
