@media (min-width: 960px) {
  body {
    max-width: 960px;
    max-width: 1170px;
    margin: 0px auto;
    /* border-left: none;
    border-right: none;
    border-top: 3rem solid #eaa448;
    border-bottom: 3rem solid #eaa448; */
    padding: 1rem;
  }

  h2,
  /* h3, */
  /* h4, */
  h5,
  h6 {
    text-align: start;
  }

  /* img {
        float: right;
        max-width: fit-content;
    } */

  #logo-h1 {
    min-width: 48rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
    padding-right: 42px;
  }

  article section ul {
    max-width: 920px;
    margin: 0px auto;
  }

  /* from med */
  nav ul {
    border-top: 2px solid #181c25;
  }

  .navigation {
    display: flex;
    padding-top: 0.4rem;
  }

  /* nav ul, */
  /* footer ul {
    display: flex;
    flex: 1 1 auto;
    height: 3.8rem;
  } */

  .navigation li {
    /* nav ul li,
  footer ul li { */
    display: block;
    flex: 1 1 auto;
    align-self: center;
  }

  .navigation a {
    text-align: center;
    border: none;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li:last-child {
    position: inherit;
    display: flex;
    justify-content: end;
  }

  .navigation:last-child li a img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px darkgrey;
    /* border: 1px solid #eaa448; */
    /* transition: box-shadow 0.2s; */
  }

  .social {
    padding: 0px;
    /* height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center; */
  }

  .social img {
    padding: 0px;
    margin-left: 4px;
    height: 32px;
    width: auto;
    /* border-radius: 7px; */
  }

  #fb,
  #lin {
    padding-top: 0.2rem;
  }

  .navigation li:nth-of-type(8) {
    display: flex;
    justify-content: start;
  }

  /* section p {
    padding: 0px 16px;
  } */

  /* .pipe {
    display: inline-block;
  } */

  #normal-p {
    display: block;
  }

  #small-p {
    display: none;
  }

  /* #copyright {
    padding: 28px 0px;
  } */

  /* main */
  main {
    grid-template-columns: repeat(16, 5%);
    gap: 0.7rem;
    /* font-size: 0.8rem; */
  }

  main section {
    padding: 0.7rem;
  }

  #event {
    grid-row: 1;
    /* grid-column: 1; */
    grid-column: 1/5;
    /* font-size: 0.6rem; */
  }

  #event * {
    font-size: 0.6rem;
  }

  #event span,
  #even span a {
    padding: 0px;
  }

  #hero {
    grid-row: 1/3;
    /* grid-column: 2/4; */
    grid-column: 5/13;
    grid-template-rows: repeat(5, 20%);
  }

  #hero button {
    grid-row: 5;
    grid-column: 5/10;
    height: 75%;
    padding: 0.7rem;
  }

  #container {
    grid-row: 1/4;
    /* grid-column: 4/5; */
    grid-column: 13/17;
    gap: 0.7rem;
    padding: 0.7rem;
  }

  #container section:nth-child(2) {
    grid-column: 1;
  }

  .spotlight * {
    padding: 0.4rem 0px;
    /* font-size: 1rem; */
    font-size: 0.6rem;
  }

  .textImg {
    font-size: 2.4rem;
  }

  .spotlight hr {
    padding: 0px;
  }

  .spotlight:nth-child(3) {
    display: block;
  }

  #weather {
    grid-row: 2;
    /* grid-column: 1; */
    grid-column: 1/5;
  }

  #weather * {
    /* font-size: 0.6rem; */
    padding: 0.2rem;
  }

  #weather hr {
    padding: 0px;
  }

  #temp {
    padding: 0.4rem;
  }

  #tempConditions {
    font-size: 0.8rem;
    padding: 0.2rem;
  }

  #join {
    grid-row: 3;
    /* grid-column: 1/2; */
    grid-column: 1/5;
  }

  #news {
    grid-row: 3;
    /* grid-column: 2/4; */
    grid-column: 5/13;
  }

  /* footer */
  /* footer {
    display: grid;
  } */

  /* #contactInfo > p {
    margin: 0px;
  } */

  /* Discover Page */
  #discover-main {
    display: block;
  }

  #discover-h2 {
    text-align: center;
  }

  .discover-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 7fr 1fr 8fr;
  }

  .discover-h3 {
    grid-column: 1/4;
    grid-row: 1;
    align-self: end;
  }

  .discover-p {
    grid-column: 2/3;
    grid-row: 2;
    align-self: flex-start;
  }

  .discover-picture {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .contacts {
    font-size: 1rem;
  }

  /* ============================================= */
  /* ===============   Join Page   =============== */
  /* ============================================= */
  #join-main {
    display: block;
  }

  #join-main p {
    text-align: end;
    top: 3rem;
  }

  textarea,
  .top input {
    font-size: 1.2rem;
  }

  #member-benefits {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    background: rgba(114, 128, 131, 1);
    background: #384156;
    color: #f2f8f8;
    padding: ;
  }

  .member-benefits {
    display: block;
    position: relative;
    /* left: 6rem; */
    /* margin: 0 auto; */
    font-size: 1.2rem;
  }

  #span-benefits1 {
    /* left: 4.6rem; */
    left: 5.9rem;
    margin: 0 auto;
  }

  #span-benefits2 {
    /* left: 6.36rem; */
    left: 7.95rem;
    margin: 0 auto;
  }

  #span-benefits3 {
    /* left: 7.2rem; */
    left: 7.9rem;
    margin: 0 auto;
  }

  #span-benefits4 {
    /* left: 7.68rem; */
    left: 8.12rem;
    margin: 0 auto;
  }

  .member-benefits:nth-child(2) {
    left: 7.75rem;
  }

  /* ============================================= */
  /* ===============   Join Page   =============== */
  /* ============================================= */
  #thanks-main {
    display: block;
  }

  /* ============================================= */
  /* ============== Directory Page =============== */
  /* ============================================= */
  #dir-main {
    display: block;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  #dir-main section {
    padding: 1rem;
  }

  .dir-name {
    text-align: center;
  }
}
