* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  font-size: 16px;
  /* background: #dfe1e2; */
  background: #c9cdcf;
  /* border: 2rem dashed #eaa448; */
  border-left: none;
  border-right: none;
  border-top: 3rem solid #eaa448;
  border-bottom: 3rem solid #eaa448;
  padding: 1rem 0px;
}

/* header,
main,
footer {
  max-width: 640px;
  margin: 0 auto;
} */

footer {
  /* background: olivedrab; */
  /* background: #384156; */
  background: rgba(114, 128, 131, 1);
}

header section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem 0px;
}

header section p {
  text-align: center;
  grid-column: 1/6;
  color: #f2f8f8;
}

section picture {
  grid-row: 1;
  grid-column: 1/1;
  z-index: 1;
  padding: 1rem 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  text-align: center;
}

h3 {
  color: #bf0d34;
}

p {
  color: #f2f8f8;
  color: #181c25;
}

hr {
  padding: 0px;
  border: 1px solid #384156;
}

header {
  display: contents;
}

header section:nth-of-type(2) {
  padding: 0px;
  /* background: mediumseagreen; */
  /* background: darkolivegreen; */
  /* background: olivedrab; */
  /* background: #384156; */
  background: rgba(114, 128, 131, 1);
}

header h1,
h3 + h1 {
  /* border-bottom: 2px solid #bf0d34; */
  /* box-shadow: 0px -2px 8px darkgrey; */
  background: #f2f8f8;
}

header section h1 {
  grid-column: 1/-1;
  grid-row: 1;
  padding: 1rem 0px;
  background: linear-gradient(
    338deg,
    rgba(229, 240, 240, 1) 0%,
    rgba(242, 248, 248, 1) 35%,
    rgba(229, 240, 240, 1) 100%
  );

  background: url(../images/granite_rsz400.jpg);
}

header address {
  grid-column: 1/6;
  padding-top: 0px;
  text-align: center;
  font-size: 1.3rem;
}

main section {
  margin: 1rem 0px;
}

address + p {
  display: none;
}

h1 span {
  font-family: "Merriweather", serif;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(114, 128, 131, 1) 0%,
    rgba(179, 187, 189, 1) 35%,
    rgba(114, 128, 131, 1) 100%
  );

  background: url(../images/sandstone_rsz400.jpg);
  box-shadow: 2px 2px 8px darkgrey;
  color: #eaa448;
  /* background: linear-gradient(343deg, rgba(234,164,72,1) 0%, rgba(249,228,200,1) 35%, rgba(234,164,72,1) 100%); */
  border: 4px solid;
  border-left: 8px dashed #f9e4c8;
  border-right: 8px dashed #f9e4c8;
  border-bottom: 4px solid #ca7c16;
  text-shadow: 1px 1px 2px darkslategrey;
  padding: 0px 42px;
}


#logoImg {
  display: none;
}

h3 + h1 {
  font-size: 30px;
}

nav,
.navigation {
  padding-top: 0px;
}

nav section {
  text-align: center;
  background: #eaa448;
  padding: 0px;
}

nav ul,
footer ul {
  list-style-type: none;
  overflow: hidden;
}

nav ul li a,
footer ul li {
  display: block;
  /* color: #fff; */
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  border-top: 2px solid #181c25;
}

footer ul li {
  border-top: 2px solid #f2f8f8;
  color: #f2f8f8;
}

.navigation {
  list-style: none;
  /* height: 3.8rem; */
  height: 2.8rem;
  transition: height 0.5s;
}

.responsive {
  /* height: 28rem; */
  height: 16.64rem;
}

/* .navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
} */

.navigation a.menuButton::before {
  content: "\2630";
}

.responsive li {
  display: block;
}

.responsive a.menuButton::before {
  content: "X ";
}

li {
  padding: 0px;
}

section p {
  text-align: center;
  padding-bottom: 0px;
}

nav ul li:hover {
  cursor: pointer;
  background: #728083;
  background: #bf0d34;
  /* background: url(https://images.unsplash.com/photo-1544840280-80e54213dfdc?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687); */
  /* color: #eaa448; */
  /* color: #f2f8f8; */
  transition: 0.5s;
}

.social:hover,
nav ul li:last-child {
  cursor: pointer;
  /* background: #dfe1e2; */
  background: #c9cdcf;
}

.navigation li:last-child {
  position: absolute;
  /* top: 68px;
  right: 68px; */
  top: 132px;
  right: 1rem;
  display: flex;
  justify-content: end;
}

.navigation:last-child li a img {
  display: block;
  border: none;
  /* background: url("../images/fb_multi.png") no-repeat; */
}

.navigation:last-child li a img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px darkgrey;
  /* border: 1px solid #eaa448; */
  /* transition: box-shadow 0.2s; */
  /* background: url("../images/fb_mono.png") no-repeat; */
}

.social {
  padding: 0px;
  border: none;
}

.social img {
  padding: 0px;
  margin-left: 4px;
  height: 32px;
  width: auto;
}

.navigation li:nth-of-type(8) {
  display: flex;
  justify-content: start;
}

a {
  color: #eaa448;
  text-decoration: none;
}

a:visited {
  color: #bf0d34;
}

a:hover {
  cursor: pointer;
  color: #f2f8f8;
}

button {
  border-radius: 0px;
  background: #bf0d34;
  color: #f2f8f8;
  /* box-shadow: 2px 2px 8px darkgray; */
  border: 4px solid #eaa448;
  /* border-left: 8px solid #f9e4c8;
  border-right: 8px solid #f9e4c8;
  border-bottom: 4px solid #ca7c16; */
  font-size: 1.2rem;
  color: #eaa448;
  font-weight: 800;
  padding: 0.6rem 1rem;
  /* background: linear-gradient(
    0deg,
    rgba(114, 128, 131, 1) 0%,
    rgba(179, 187, 189, 1) 35%,
    rgba(114, 128, 131, 1) 100%
  ); */
  text-shadow: 1px 1px 2px darkslategrey;
}

button:hover {
  cursor: pointer;
  color: #eaa448;
  background: olivedrab;
  transition: 0.4s;
}

#color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 960px;
  margin: auto;
}

.color-card {
  width: 16rem;
  height: 18rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgrey;
  border: 12px solid whitesmoke;
}

#raisin {
  background: #181c25;
}

#raisin *,
#slate *,
#crimson * {
  color: whitesmoke;
}

#mustard *,
#cultured * {
  color: #181c25;
}

#slate {
  background: #728083;
}

#crimson {
  background: #bf0d34;
}

#mustard {
  background: #eaa448;
}

#cultured {
  background: #f2f8f8;
}

.typo {
  text-align: center;
}

#normal-p {
  padding-top: 0px;
  display: none;
}

#small-p {
  display: block;
}

#lastModDateTime {
  text-align: center;
  padding: 0px;
}

#lastModified {
  text-align: center;
  padding: 1rem 0px;
}

.meeting-banner {
  display: none;
  padding-top: 0px;
}

.show-meeting-banner {
  display: block;
}

.meeting-banner p {
  text-align: center;
  background: #bf0d34;
  color: #f2f8f8;
}

/* main */
main {
  display: grid;
  gap: 1rem;
  font-size: 0.8rem;
  padding: 1rem 0px;
}

.placeholder {
  /* background: #c9cdcf; */
  background: #dfe1e2;
  /* border: 2px solid #384156; */
  box-shadow: 1px 0px 0.6rem grey;
  text-align: center;
  color: #bf0d34;
  margin: 0px;
  /* padding: 0px; */
  /* border: 0.6rem solid #f2f8f8; */
}

.textImg {
  font-size: 3rem;
  text-align: center;
}

#event {
  grid-row: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}

#hero {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  grid-row: 1;
  overflow: hidden;
  padding: 0px;
}

#weather {
  grid-row: 4;
  margin-top: -1rem;
}

#weather * {
  padding-bottom: 0px;
}

#weather div {
  display: grid;
}

#weather div picture {
  padding-top: 0px;
  grid-column: 1;
}

#weather div span {
  padding-top: 0px;
  grid-column: 2;
}

#temp {
  font-size: 1.2rem;
}

#tempConditions {
  grid-row: 2;
  grid-column: 1/3;
  justify-self: end;
  font-size: 1.2rem;
  padding-top: 0px;
  padding-bottom: 1rem;
}

#weather div hr {
  grid-column: 1/3;
}

#windSpeed {
  grid-row: 4;
  grid-column: 1/3;
}

#windChill {
  grid-column: 1/3;
  grid-row: 5;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

#windSpeed span h4,
#windChill span h4 {
  display: inline;
}

#join {
  display: none;
  padding: 1rem;
}

#news {
  grid-row: 5;
}

#news * {
  padding-top: 0px;
}

#news article {
  padding-top: 1rem;
}

#container {
  grid-row: 6;
  display: grid;
  gap: 1rem;
}

#hero picture,
#hero img,
#hero source {
  padding: 0px;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  grid-column: 1/11;
  grid-row: 1/7;
}

#hero h2 {
  grid-column: 1/11;
  grid-row: 1;
  z-index: 2;
}

#hero button {
  grid-row: 5;
  grid-column: 5/10;
  z-index: 2;
  /* height: 85%; */
}

#event {
  padding: 1rem;
}

#event > * {
  padding-bottom: 0px;
}

/* .spotlight {} */

.spotlight:nth-child(3) {
  display: none;
}

#contactPic {
  display: block;
}

#contactImg {
  display: block;
  margin: 0px auto;
  width: 112px;
  height: auto;
  background: linear-gradient(
    0deg,
    rgba(114, 128, 131, 1) 0%,
    rgba(179, 187, 189, 1) 35%,
    rgba(114, 128, 131, 1) 100%
  );
  border: 4px solid #f9e4c8;
  border-radius: 64px;
  box-shadow: 2px 2px 2px #ca7c16;
}

#contactInfo,
#contactMap {
  display: block;
  text-align: center;
  padding: 0px;
}

.contacts {
  padding-bottom: 0px;
  color: #f2f8f8;
}

.contacts:first-child {
  color: #bf0d34;
}
