body {
  background: tan;
  background: #08415C;
}

main {
  margin: auto 0px;
  text-align: center;
  color: whitesmoke;
  margin: 1rem;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

section {
  padding: 0 1rem;
  /* border: 2px solid; */
  border-radius: 5px;
  box-shadow: 2px 2px 8px darkgrey;
  box-shadow: 2px 2px 8px midnightblue;
  box-shadow: 2px 2px 8px #020D13;
  background: #681212;
}

h1 {
  color: darkgoldenrod;
  padding: 1rem;
}

h2 {
  color: goldenrod;
}

img {
  max-height: 320px;
  border-right: 1rem solid #EB9D1E;
  border-top: 1rem solid #96620D;
  border-bottom: 1rem solid #EFAD43;
  border-left: 1rem solid #B1740F;
}

li {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  color: whitesmoke;
}