/* Source: https://coolors.co/1b9d8e-f8f1ff-decbf6-eddcd4-f78964 */
/* Set up root variables */
:root {
  --greenco: #1b9d8e;
  --redco: #f78964;
  --violetcolt: #f8f1ff;
  --violetco: #decbf6;
  --tancolt: #eddcd4;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
}

/*----------- BODY --------------*/
body {
  width: 100%;
  max-width: 928px;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  background: var(--violetcolt);
}

p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h2,
h3 {
  margin-left: 0.4rem;
}

/*----------- HEADER --------------*/
header {
  display: grid;
}

.weather-alert {
  grid-row: 1;
}

header a {
  grid-row: 2;
}

.btn-alert {
  /* color: white; */
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: start;
  border: none;
  display: flex;
  justify-content: space-between;
}

.btn-alert:nth-of-type(odd) {
  background: var(--greenco);
}

.btn-alert:nth-of-type(even) {
  background: var(--violetco);
}

.btn-alert::after {
  content: "X";
}

.alert-close {
  display: none;
}

.btn-alert:hover {
  background: var(--redco);
  color: black;
}

/*----------- NAVIGATION --------------*/
nav {
  display: block;
  margin: 2rem 0;
  margin-bottom: 0;
}

nav ul {
  height: 2rem;
  padding: 0;
  margin: 0;
  transition: height 0.4s;
  overflow: hidden;
}

nav ul li {
  list-style: none;
  display: block;
  padding: 0.4rem 1rem;
  background: var(--violetco);
  text-align: center;
}

nav ul li:hover {
  background: var(--greenco);
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* nav ul li a:visited {
  color: var(--greenco);
} */

.dropdown-nav::after {
  content: " +";
}

.close-nav::after {
  content: " -";
}

nav ul li.active a {
}

.open-nav {
  height: 9.74rem;
  transition: height 0.4s;
}

.subpage-ul {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.open-sub {
  height: 4rem;
  transition: height 0.4s;
}

#logo {
  max-width: 6rem;
  display: block;
  margin: auto;
}

/*----------- MAIN --------------*/
main {
}

#res-main p {
  margin: 0 2rem;
}

main img {
  width: 100%;
}

form input#submitBtn,
form input.submitBtn,
#action,
.act-btn,
.thanks-btn {
  background: var(--greenco);
  padding: 0.4rem 1rem;
  width: 100%;
  margin: 1rem 0;
  border: none;
  border: 0.4rem double white;
  box-shadow: 2px 2px 4px darkgray;
}

#action,
.act-btn,
.thanks-btn {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  margin: 0.4rem auto;
  width: 15.4rem;
}

#action:visited,
#action:active,
.act-btn:visited,
.act-btn:active,
.thanks-btn:visited,
.thanks-btn:active {
  color: black;
}

form input#submitBtn:hover,
form input.submitBtn:hover,
#action:hover,
.act-btn:hover,
.thanks-btn:hover {
  background: var(--violetco);
  cursor: pointer;
}

#thanks-main {
  padding: 2rem 0;
}

#thanks-h3 {
  margin: 0;
}

#welcome {
  margin-bottom: 1rem;
}

#welcome p,
#welcome ul {
  margin: 0.4rem;
}

#welcome ul li {
  list-style-type: disclosure-closed;
}

h2 + p::first-letter {
  font-size: 2em;
  font-family: "Noto Serif", serif;
  /* background: var(--redco); */
  /* border-left: 1rem solid var(--redco); */
}

hr {
  height: 2px;
  border: none;
  /* background: rgb(248, 241, 255); */
  /* background: linear-gradient(
    90deg,
    rgba(248, 241, 255, 1) 0%,
    rgba(222, 203, 246, 1) 35%,
    rgba(248, 241, 255, 1) 100%
  ); */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 137, 100, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(27, 157, 142, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 220, 212, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.temple-card {
  padding: 0.4rem;
  border: 0.4rem groove var(--violetco);
  margin: 0.8rem 0.4rem;
  font-size: 0.8rem;
  font-family: "Noto Serif";
  max-width: 500px;
  box-shadow: 2px 2px 4px darkgray;
}

.temple-card-info {
  margin: 0.4rem;
}

/*----------- FORM --------------*/
#res-form {
  padding: 0.4rem;
}

form fieldset {
  /* margin: 2rem 0; */
  /* border: 1px solid #445ba9; */
  /* border-radius: 10px; */
  /* padding: 0.5rem 2%; */
  background: rgb(222, 203, 246);
  background: linear-gradient(
    180deg,
    rgba(222, 203, 246, 1) 5%,
    rgba(237, 220, 212, 1) 70%,
    rgba(248, 241, 255, 1) 95%
  );
  box-shadow: 2px 2px 4px darkgrey;
  border: 0.4rem double white;
  padding: 0 1rem;
  margin: 1rem 0;
}

form legend {
  padding: 0.4rem;
  background: #555;
  color: white;
}

form label.top,
form div {
  display: block;
  /* padding-top: 1rem; */
  /* color: #9c2c13; */
  /* font-size: 0.8rem; */
  text-align: left;
  padding: 0.4rem 0;
}

form label.top input,
form label.top select,
form label.top textarea {
  /* -webkit-appearance: none; */
  /* display: block; */
  font-size: 1.2rem;
  /* border: solid 1px #999; */
  /* border-radius: 4px; */
  /* padding: 0.75rem; */
  /* color: #555; */
  /* width: 100%; */
  /* max-width: 20rem; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 97%;
  border: none;
  box-shadow: 2px 2px 4px darkgray;
  padding: 0.4rem 0.2rem;
}

form label.top select {
  width: 100%;
}

form label.sbs {
  /* display: block; */
  /* padding: 0.75rem; */
  /* color: #555; */
}

form input.submitBtn {
  /* border: none; */
  /* background-color: #9c2c13; */
  /* color: white; */
  /* border-radius: 1rem; */
  /* padding: 0.75rem 1.5rem; */
  /* margin: 0 0 2rem 2%; */
  /* width: 96%; */
  /* max-width: 20rem; */
}

form label.top input:required {
  /* border-left: red solid 6px; */
}

form label.top input:required:valid {
  /* border-left: green solid 6px; */
}

#current-weather {
  display: grid;
}

#current-weather div.backdrop {
  background-image: url("../images/extras/oxon-hill-800.webp");
  min-height: 25rem;
  grid-row: 1/4;
  grid-column: 1/2;
}

#current-weather div.forecast {
  display: grid;
  grid-row: 3/4;
  grid-column: 1/2;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 0.8rem;
}

#current-date {
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: center;
  margin: 0.4rem 0.8rem;
}

#current-weather div.forecast figure {
  display: grid;
  align-content: space-around;
  justify-content: center;
  grid-row: 2/4;
  grid-column: 1/3;
  margin: 0;
}

#current-weather div.forecast figure img {
  grid-row: 1/3;
  grid-column: 1/2;
  margin: auto;
  margin-top: 0.1rem;
}

.forecast figure figcaption {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0.4rem 0;
  text-align: center;
}

#weather-report h4 {
  margin: 0;
}

#temp,
#humid {
  text-align: end;
  margin: 0.4rem 0.8rem;
  grid-column: 3/5;
}

#humid {
  margin: 0.8rem;
  margin-top: 0;
}

.card-3day {
  background: rgb(222, 203, 246);
  background: linear-gradient(
    180deg,
    rgba(222, 203, 246, 1) 5%,
    rgba(237, 220, 212, 1) 70%,
    rgba(248, 241, 255, 1) 95%
  );
  box-shadow: 2px 2px 4px darkgrey;
  border: 0.4rem double white;
  text-align: end;
  padding: 0 1rem;
  margin: 1rem 0.4rem;
}

article div img {
  width: 4rem;
  float: left;
}

/*----------- FOOTER --------------*/
footer {
}

iframe {
  width: 100%;
  box-shadow: 2px 2px 4px darkgray;
}

.address-h {
  font-family: "Noto Serif", serif;
  padding: 0.4rem 0;
  padding-bottom: 0;
  font-size: 1.2rem;
}

.social {
  justify-self: end;
  background: #555;
  text-align: center;
  padding-top: 0.2rem;
}

.social a img {
  width: 20%;
  /* max-width: 3.2rem; */
  max-width: 32px;
  margin: 0.4rem 0.05rem;
}

#fb:hover {
  background: #166fe5;
}

#ig:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    201deg,
    rgba(131, 58, 180, 1) 5%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 80%
  );
}

#tw:hover {
  background: rgb(29, 155, 240);
}

#yt:hover {
  background: #e52d27;
}

#pn:hover {
  background: #bd081c;
}

#about {
  background: #555;
  color: white;
  text-align: center;
  margin: 1rem 0;
  padding: 0.4rem;
}

.label {
  text-align: center;
}

footer section address p,
footer section address,
footer section form {
  margin: 0.4rem;
  font-style: normal;
}

#lastModified {
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
}

/* ==================================== */
/* ==========missionary.html=========== */
/* ==================================== */
#mission-main h2,
#mission-main p {
  margin: 1rem 0.4rem;
}

#mission-main img {
  width: 400px;
  max-width: 96%;
  padding: 0.2rem 0.4rem;
  margin: auto;
  display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
